{{#modal-dialog action="close"}}
	<div class="text-center">
		<h4 class="l-alert-modal-title">{{title}}</h4>
		<button class="btn btn-lg btn-default" {{action "close"}}>OK</button>
	</div>
{{/modal-dialog}}