<div class="landing-wrapper">
  <div class="how-it-works__about-title">What is Biddie?</div>
  <div class="how-it-works__about-content">
    Biddie is a platform that lets users go on dates for money. One person proposes a date with a time, place, and bid. Then the other accepts. After the offer has been accepted, the bidder is asked to enter credit card information, but they'll only be charged if both users go on the date. If both the bidder and the "biddie" show up to the date, the biddie gets the
    money.
  </div>
</div>

<div class="how-it-works__detail-div">
  <div class="landing-wrapper body__wrapper">
    <div class="how-it-works__how-it-works-title">How it Works</div>
    <object class="how-it-works__about-svg" type="image/svg+xml" data="images/how-it-works.svg">Your browser does not support SVG</object>
  </div>
</div>


{{outlet}}
