<div class="col-md-offset-1 col-md-10" style="text-align: center;"> {{!-- I don't really like container --}}
	<div style="landing__hero-container"> {{!-- TODO(daddy): This is utter shit... --}}
		<div class="landing__hero-text landing__top-hero-text">Get paid to have dinner...</div>
		<div class="landing__hero-logo-container"><img src="images/logo_pink.svg" class="landing__hero-logo"/></div>
		<div class="landing__hero-text landing__bottom-hero-text">Or finance a hot date.</div>
	</div>
	<div class="landing__signup-container">
		<div class="landing__input-container">
			{{input value=emailSignup placeholder='email' class="login__email-input landing__input"
					action="signUp" on="enter"}}
			{{input value=passwordSignup type="password" placeholder='password'
					class="login__password-input landing__input" action="signUp" on="enter"}}
		</div>
		<div class="landing__signup-button" {{action 'signUp'}}>
			<div class="general__center-vertically">Sign Up!</div>
		</div>
	</div>
	<img src="icons/angle-down.svg" class="landing__down-angle">
</div>

<div class="col-md-12 landing__help-text-background">
		<div class="col-md-6">
			<div class="col-md-offset-2 col-md-10 landing__help-text-paragraph">
				<div class="landing__help-text-paragraph__header">
					Get Paid to Date
				</div>
				<div class="landing__help-text-paragraph__content-middle">You're awesome.<br>Isn't it time you got paid for that?</div>
				<div class="landing__help-text-paragraph__content">
					With Biddie you can get paid just to have dinner with people. Just make an account and start accepting offers. Bidders pay in advance online so the experience is seamless. Just take a selfie to show you were there, have a good time, and start raking it in!
				</div>
			</div>
		</div>
		<div class="col-md-6 landing__white-when-mobile">
			<div class="col-md-10 landing__help-text-paragraph">
					<div class="landing__help-text-paragraph__header">
						Pay for Dates
					</div>
					<div class="landing__help-text-paragraph__content-middle">If you pay for high-quality clothes, shouldn't you pay for high-quality dates?</div>
					<div class="landing__help-text-paragraph__content">
						Biddie is a service for those who are willing to pay for quality. With Biddie, you can date the hottest people in the city without wasting hours messaging them. Just bid, pick a time and place, and have the time of your life. Pay online, in advance, so the experience is seamless. You’ll be shocked at how much better things are when you pay for them.
					</div>
			</div>
		</div>
</div>
<div class="col-md-12 landing__amount-container landing__help-text-background">
		<div class="landing__amount-raised-text">Amount Earned To-Date</div>
		<div class="landing__amount-raised-value">$10,501,989</div>
	</div>
</div>
