{{!styles defined in topnav.scss}}

<div class="body__navbar">
  <div class="col-md-offset-1 col-md-10 cap-max-width"> {{!-- I don't really like container.. --}}
    <div class="topnav__biddie-logo-container">
      {{#link-to 'landing' class=""}}
        <img src="images/logo_pink.svg" class="topnav__biddie-logo"/>
      {{/link-to}}
    </div>
    <div class="topnav__link-container topnav__login-button topnav__rightmost-button">
      {{#link-to 'login' class="topnav__link landing__login-button"}}Login{{/link-to}}
    </div>
    <div class="topnav__link-container topnav__how-it-works-button">
      {{#link-to 'how-it-works' class="topnav__link"}}About{{/link-to}}
    </div>
  </div>
</div>
