<div class="container">
	<div class="row">
		<div class="login__biddie-title">
			<div>Biddie</div>
			<h3>"If a platform existed that let me date for charity,</h3>
			<h3>I would use it on a daily basis."</h3>
			<h3> --Marilyn Monroe</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{{input value=emailLogin placeholder='email' class="login__email-input"
					action="login" on="enter"}}
			{{input value=passwordLogin type="password" placeholder='password'
					class="login__password-input" action="login" on="enter"}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<button
       class="btn btn-lg btn-default landing__login-button">
				<span class="glyphicon glyphicon-star"></span> Log In
			</button>
		</div>
	</div>
</div>
