<div class="profile__header-container">
  <div>Update photos</div>
</div>
<div class="onboarding-flow-comp__buttons-container">
  <div class="onboarding-flow-comp__facebook-button" {{action 'uploadFromFacebook'}}>
    upload from facebook
  </div>
{{!--   <div class="onboarding-flow-comp__upload-button">
    upload from desktop
  </div> --}}
</div>
<div class="onboarding-flow-comp__images-container">
  {{pic-rearranger allPhotos=controllers.application.user.photos user=user}}
</div>