<div class="l-profile-input-overlay" {{action "close"}}> 

{{!-- Add a spinner for when we're loading the facebook pictures --}}

</div>
<div class="l-profile-input-modal">
	<div class="text-center">
		<div>
			<button class="btn btn-lg btn-default profile__done-selecting-photos"
					{{action "close"}}>
				Done
			</button>
		</div>
			<h4 class="l-alert-modal-title">CLICK PICTURES TO SELECT OR DESELECT</h4>
			{{#facebook-login-button handlePhotos="handlePhotos" handleBasicInfo="handleBasicInfo"}}{{/facebook-login-button}}
		<br>
		{{#each photo in controllers.application.user.photos}}
      <div class="home__single-result-container">
      <div class="home__biddie-image-container">
      {{facebook-photo photoData=photo user_id=controllers.application.user.id
        classNames="profile__initial-facebook-photo"}}
      </div>
      </div>
		{{/each}}
	</div>
</div>