<div class="body__navbar">
  <div class="col-md-offset-1 col-md-10">
    <div class="topnav__biddie-logo-container">
        <img src="images/logo_pink.svg" class="topnav__biddie-logo"/>
    </div>
    <div {{action 'logOut'}} class="topnav__link-container topnav__rightmost-button topnav__logout">
      <a class="topnav__link">Logout</a>
    </div>
    <div class="topnav__link-container topnav__how-it-works-button topnav__profile-button">
      {{#link-to 'profile' class="topnav__link"}}Profile{{/link-to}}
    </div>
    <div class="topnav__link-container topnav__login-button topnav__how-it-works-button">
      {{#link-to 'home' class="topnav__link"}}Home{{/link-to}}
    </div>
  </div>
</div>

