{{#if isAuthenticated}}
	<div style="color: red">You're on the WAITLIST, BITCH!</div>
	<button type="button" class="btn btn-lg btn-default login__logout-button" {{action 'logOut'}}>
	    <span class="glyphicon glyphicon-star"></span> Logout
	</button>
{{else}}
	NOT AUTHENTICATED WTF.
{{/if}}