{{#if allPhotos}}
    <div class="onboarding-flow-comp__single-image-container onboarding-flow-comp__add-pictures-square">
        <img style="width: 100%;" src="/images/add_pictures_square.svg">
    </div>
{{/if}}
{{#each photo in allPhotos}}
    {{#if photo.photo_position}}
        <div class="onboarding-flow-comp__single-image-container">
            {{facebook-photo photoData=photo dragOverHook='rearrangePhotos'
                dropHook='patchPhotoOrder' draggable=true selectable=false
                 user_id=user.id}}
        </div>
    {{/if}}
{{/each}}
{{yield}}
