$total-width: 80%;

$side-panel-width: 20%;
$middle-panel-width: 80%;

$profile-side-width: 20%;
$profile-input-width: $profile-side-width * .55;

$profile-select-width: 2%;
$profile-input-padding: 1em;
$profile-side-padding: 3%;
$profile-input-label-width: 10em;

$profile-input-heights: 3em;

$profile-input-zip-width: 5.5em;
$profile-date-select-width: 15%;
$profile-ethnicity-select-width: 30%;

$profile-num-photos-per-row: 4;
$profile-photo-padding: 1%;
$profile-main-photo-width: ($middle-panel-width - $profile-photo-padding) / $profile-num-photos-per-row - $profile-photo-padding * (1+ 1/$profile-num-photos-per-row);

$bid-button-height: $profile-input-heights*1.5;
$bid-button-width: $profile-main-photo-width/2;

$modal-width: $middle-panel-width;

$dashboard-selected-photo-padding: ($side-panel-width - $profile-main-photo-width) / 2;

$light-blue-custom: #D5F2FF;
$medium-pink: #EA80B0;
$heavy-pink: #D51E71;
$bright-pink-custom: #EB408A;
$dark-blue: #1A5E84;
$grey-blue: #A2B5BF;
$soft-blue: #FAFEFF;
$soft-grey: rgb(219, 219, 219);
$soft-pink: #FFF0F7;
$soft-green: #C9EAE8;
$grey-border-color: #DDDDDD;
$subtle-off-white: #fcfcfc;
$dark-border-color: #B69E9E;
$cards-your-pin-purple: #9373D0;
$cards-bid-on-you-green: #479488;
$cards-waiting-on-them-to-pay: #CB1769;
$cards-upcoming-date-color: #6B2D49;
$cards-leave-review-color: #110F57;
$cards-you-poked-no-offer-color: rgb(62, 99, 168);
$profile-photo-border-color: #ccd0d9;
$profile-drilldown__clear-button-hover-color: rgb(244, 244, 244);
$profile-drilldown__button-text-color: #5e6573;
$profile-drilldown__pin: #FFA8F6;
$profile-drilldown__pin-hover: #FFB6F7;
$profile-drilldown__poke: #6EA1FF;
$profile-drilldown__poke-hover: #8CB4FD;
$medium-green: #4EBBB5;
$light-green: #AEE0DD;
$left-tab-color: rgb(255, 252, 252);

@font-face {
    font-family: main_font_bold;
    src: url(/fonts/main_font_bold.ttf);
}

@font-face {
    font-family: main_font_regular;
    src: url(/fonts/main_font_regular.ttf);
}

$general__button-tab-font-size: 1.5em;

// Example media query: @media #{$iphone-5s} { }
$iphone-5s: "only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)";

$big-desktop: "only screen and (min-width : 1300px)";

$small-desktop: "only screen and (max-width : 1300px) and (min-width : 600px)";

.general__center-vertically {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

$card-left-padding: .6em;
$card-right-padding: 1em;

.hide-on-hover {
  display: none;
}