$dashboard-photo-height: 200px;

.dashboard-photo__photo-container {
  position: relative;
  display: inline-block;
  height: $dashboard-photo-height;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px black;
  border-radius: 3px;
  background-color: aliceblue;
}

.dashboard-photo__img-stuff {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
}

.dashboard-photo__name {
  font-size: 1rem;
  font-family: main_font_bold;
  color: $dark-blue;
  text-align: left;
}

.dashboard-photo__place-and-age {
  font-size: 1rem;
  font-family: main_font_bold;
  color: $dark-blue;
  text-align: left;
  margin-top: -.3em;
  margin-bottom: .3em;
}

.dashboard-photo__bottom-info-container {
  font-size: 1.2rem;
  font-family: main_font_bold;
  color: $dark-blue;
  text-align: center;
  margin-top: .3em;
}

.dashboard-photo__bottom-info-container__satisfied-text {
  color: green;
}

.dashboard-photo__button-container {
  margin-top: 10px;
}

.dashboard-photo__overall-div-container {
  
}

.dashboard-photo__box{
  position: relative;
  width: 100%;   /* desired width */
}
.dashboard-photo__box:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.dashboard-photo__content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}