$cards-your-pin__picture-width: 19%;
$cards__text-left-margin: .2em;

.main-feed-view__card-container {
  width: 90%;
  display: inline-block;
  margin: 1em 0.5em;
}

.cards-your-pin__outer-div {
  display: inline;
}

.cards-your-pin__container {
  position: relative;
  width: 100%;
  display: inline-block;
  font-family: main_font_bold;
  font-size: 1.2rem;
  border: 1px solid $grey-border-color;
}

.cards-your-pin__header-container {
  text-align: left;
  background-color: $cards-your-pin-purple;
  padding: 0 $card-left-padding;
  color: white;
}

.cards-your-pin__header-text-left {
  display: inline;
}

.cards-your-pin__header-text-right {
  display: inline-block;
  margin-right: 1em;
  height: auto;
  float: right;
  margin-top: 0.1em;
}

.cards-your-pin__close {
  display: inline;
  cursor: pointer;
}

.cards-your-pin__picture {
  width: $cards-your-pin__picture-width;
  display: inline-block;
}

.cards-your-pin__content {
  padding: $card-right-padding $card-left-padding;
  text-align: left;
}

.cards-your-pin__content__text-container {
  display: inline-block;
  vertical-align: top;
  width: 79%;
  padding: 0 3em;
  text-align: center;
  margin-bottom: 1em;
}

.cards-your-pin__content__header {
  margin-bottom: 0;
  color: $cards-your-pin-purple;
  margin-top: -0.5em;
}

.cards-your-pin__text-snap-left {
  text-align: left; 
}

.cards-your-pin__text-inline {
  display: inline;
}

.bid-info-modal__date {
  display: inline;
  width: 10em;;
}

.bid-info-modal__start-time-hour {
  display: inline;
  width: 4em;
}

.bid-info-modal__start-time-minute {
  display: inline;
  width: 4em;
}

.bid-info-modal__start-time-am-pm {
  display: inline;
  width: 4em;
}

.bid-info-modal__duration {
  display: inline;
  width: 4em;
}

.cards-your-pin__dates-and-times-button {
  display: block;
  background-color: $cards-your-pin-purple;
  color: white;
  padding: 0.5em 1.2em;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px black;
  cursor: pointer;
  width: 13em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.cards-your-pin__plus {
  display: inline;
  float: left;
}

.cards-your-pin__bid-button.disabled {
  background-color: red;
}

.cards-your-pin__bid-button {
  display: inline;
  background-color: $cards-your-pin-purple;
  color: white;
  padding: .5em 1.2em;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px black;
  cursor: pointer;
}

input.bid-info-modal__bid-input {
  width: 10em;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 3px;
  color: #02436B;
  font-family: main_font_bold;
  display: inline-block;
}

input.bid-info-modal__place-input {
  @extend input.bid-info-modal__bid-input;
  width: 25em;
}

.date-picker__check {
  position: absolute;
  margin-left: .5em;
}

.cards-bid-on-you__header-container {
  text-align: left;
  background-color: $cards-bid-on-you-green;
  padding: 0 $card-left-padding;
  color: white;
}

.cards-bid-on-you__content__header {
  color: $cards-bid-on-you-green;
}

.cards-bid-on-you__content {
  padding: 0 $card-left-padding;
  text-align: left;
  color: $dark-blue;
  padding-top: 2em;
}

.cards-bid-on-you__time {
  text-align: left;
  display: inline;
  margin-left: $cards__text-left-margin;
}

.cards-bid-on-you__time-label {
  text-align: left;
  color: $cards-bid-on-you-green;
}

.cards-bid-on-you__times-container {
  margin-bottom: 1em;
  text-align: left;
}

.cards-bid-on-you__accept-button {
  display: inline-block;
  box-shadow: 0px 2px 4px 0px black;
  padding: .3em 1em;
  margin-top: .5em;
  margin-right: .5em;
  border-radius: 10px;
  background-color: $cards-bid-on-you-green;
  color: white;
  cursor: pointer;
}

.cards-bid-on-you__place-label {
  color: $cards-bid-on-you-green;
  display: inline;
}

.cards-bid-on-you__place {
  display: inline; 
  margin-left: $cards__text-left-margin;
}

.cards-bid-on-you__bid {
  display: inline;
  margin-left: $cards__text-left-margin;
}

.cards-bid-on-you__bid-label {
  display: inline;
  color: $cards-bid-on-you-green;
}

.cards-waiting-on-them-to-pay__color-top {
  background-color: $cards-waiting-on-them-to-pay;
}

.cards-waiting-on-them-to-pay__content-color {
  color: $cards-waiting-on-them-to-pay;
  display: inline;
}

.cards-waiting-on-them-to-pay__info-color {
  color: $dark-blue;
}

.cards-upcoming-date__color-top {
  background-color: $cards-upcoming-date-color;
}

.cards-upcoming-date__content-color {
  color: $cards-upcoming-date-color;
}

.cards-upcoming-date__info-color {
  color: $dark-blue;
}

.cards-leave-review__color-top {
  background-color: $cards-leave-review-color;
}

.cards-leave-review__content-color {
  color: $cards-leave-review-color;
}

.cards-leave-review__info-color {
  color: $dark-blue;
}

.cards-you-poked-no-offer__color-top {
  background-color: $cards-you-poked-no-offer-color;
}

.cards-you-poked-no-offer__content-color {
  color: $cards-you-poked-no-offer-color;
}

.cards-you-poked-no-offer__info-color {
  color: $dark-blue;
}

select.date-time-picker__dropdown-stuff {
  margin-bottom: 1em;
  color: #C73064;
}

.bid-ask-center-helper {
  position: absolute;
  top: 5%;
  text-align: center;
  left: 0;
  right: 0;

  @media #{$iphone-5s} {
    position: absolute;
  }
}

.bid-ask__modal-content-container {
  width: auto;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 3px;
  padding-bottom: 2em;
  border-radius: 4px;
  border: 1px solid #ccd0d9;
  padding-top: 2em;
}

.bid-ask__fields-wrapper {
  white-space: nowrap;
  margin-top: 1.5em;
  margin-bottom: 1em;

  @media #{$iphone-5s} {
    white-space: normal;
  }
}

.bid-ask__text-headers {
  margin-bottom: 0;
  margin-top: -0.5em;
  font-family: main_font_bold;
  color: #02436B;
  font-size: 1.3rem;
  padding-bottom: .5em;
}

.bid-ask__buttons {
  @extend .noselect;
  height: 3em;
  border: 1px solid $profile-photo-border-color;
  border-radius: 4px;
  font-family: main_font_bold;
  color: $profile-drilldown__button-text-color;
  cursor: pointer;
  
  &:hover {
    background-color: #ACA9FF;
    color: white;
  }
}

.bid-ask__cancel-button {
  @extend .bid-ask__buttons;
  
  &:hover {
    background-color: #D289A2;
  }
}
