.how-it-works__about-title {
  font-family: main_font_bold;
  color: $dark-blue;
  font-size: 4em;
  margin-top: .5em;

  @media #{$iphone-5s} {
    font-size: 2.7em;
  }
}

.how-it-works__about-content {
  font-family: main_font_regular;
  color: $dark-blue;
  font-size: 2em;
  font-size: 2em;
  margin-top: 0.5em;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 3em;

  @media #{$iphone-5s} {
    font-size: 1.3em;
  }
}

.how-it-works__how-it-works-title {
  font-family: main_font_bold;
  color: $dark-blue;
  font-size: 4em;

  margin-top: .5em;
  margin-bottom: .5em;
}

.how-it-works__about-svg {
  width: 80%;
  margin-bottom: 3em;
}

.how-it-works__detail-div {
  background-color: $subtle-off-white;
  border-top: 1px solid $grey-border-color; 
}