.onboarding-flow-comp__rearrange-container {
  position: static;
  border: none;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 3%;
  text-align: center;
  background-color: white;
  border-radius: 4px;

  @media #{$iphone-5s} {
    margin-top: 0;
    height: auto;
    width: 100%;
    min-height: 100%;
  }
}

.onboarding-flow-comp__overall-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 80%;
  left: 10%;

  @media #{$iphone-5s} {
    left: 0;
    width: auto;
  }
}

.onboarding-flow-comp__user-info-container {
  @extend .onboarding-flow-comp__rearrange-container; 
  margin-left: +300%;
  margin-right: -300%;
  @media #{$iphone-5s} {
    margin-top: 0;
    height: auto;
    width: 100%;
    min-height: 100%;
  }
}
 
.onboarding-flow-comp__header-container {
  font-size: 1.5em;
  font-family: main_font_bold;
  color: white;
  text-align: center;
  background-color: #4A4A4A;
  padding: 0.6em 0;

  @media #{$iphone-5s} {
    font-size: 1.1em;
  }
}

.facebook-picker__header-container {
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
  font-family: main_font_bold;
  color: $dark-blue; 
}

.onboarding-flow-comp__facebook-button {
  position: relative;
  display: inline;
  padding: 0.7em 3em;
  color: white;
  background-color: #5975B1;
  font-family: main_font_bold;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 1em;

  &:hover {
    background-color: #AABDE5;
  }

  @media #{$iphone-5s} {
    padding: 0.5em 1em;
    margin-bottom: 1.5em;
    margin-right: 0em;
    position: static;
    display: inline-block;
    width: 12em;
  }
}

.onboarding-flow-comp__upload-button {
  display: inline;
  padding: 0.7em 3em;
  color: #4A4A4A;
  font-family: main_font_bold;
  border-radius: 3px;
  cursor: pointer;
  background-color: #D8D8D8;

  &:hover {
    background-color: #8B8B8B;
    color: white;
  }

  @media #{$iphone-5s} {
    display: none;
  }
}

.onboarding-flow-comp__buttons-container {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;

  @media #{$iphone-5s} {
    padding-bottom: 0;
  } 
}

$onboarding-flow-comp__image-padding: .2%;
.onboarding-flow-comp__images-container {
  text-align: center;
  padding-bottom: 2em;
  margin-top: 1em;

  @media #{$iphone-5s} {
    padding-bottom: 0;
  }
}

.onboarding-flow-comp__single-image-container {
  display: inline-block;
  width: 18.7%;
  margin-right: 0.2%;
  margin-top: 1%;
  border: 1px solid #ccd0d9;
  border-radius: 4px;
  cursor: pointer;
  
  @media #{$iphone-5s} {
    width: 80%;
    margin-bottom: 1em;
  }
}

.onboarding-flow-comp__add-pictures-square {
  border: none;
  border-radius: 5px;
  @media #{$iphone-5s} {
    display: none;
  }
}

.onboarding-flow-comp__facebook-picker-container {
  @extend .onboarding-flow-comp__rearrange-container; 
  margin-left: -300%;
  margin-right: +300%;
  @media #{$iphone-5s} {
    margin-top: 0;
    height: auto;
    width: 100%;
    min-height: 100%;
  }
}

.onboarding-flow-comp__done-picking-facebook-pics {
  padding: 0.5em 2em;
  width: auto;
  box-shadow: 0px 2px 4px 0px black;
  color: #EA80B0;
  background-color: white;
  font-family: main_font_regular;
  margin-top: 2em;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
}

.facebook-picker__back-to-picker {
  padding: 0.5em 2em;
  box-shadow: 0px 2px 4px 0px black;
  color: #EA80B0;
  background-color: white;
  font-family: main_font_regular;
  width: auto;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1rem;
  position: static;
  margin-top: 1em;
  display: inline-block;
}

.facebook-picker__done-picking-facebook-pics {
  color: white;
  cursor: pointer;
  width: auto;
  display: inline-block;
  text-align: right;
  padding: 0 1em;
  float: right;
}
