.general__button-tabs-container {
  text-align: left;
  width: 20%;
  display: inline-block; 
  margin-top: 1em;
  font-size: 1rem; // have to reset font size because
                                 // of inline-block hack.
}

img.general__tab-bar-icon {
  @extend .general__center-vertically;
  position: absolute;
  left: 10%;
}

.general__left-container {
  min-height: 100rem;
  height: auto;
}

.general__middle-container {
  background-color: $soft-blue;
  text-align: center;
  border-left: 1px solid $soft-grey;
  min-height: 100rem;
  height: auto;
}

.general__center-content {
  text-align: center;
  display: inline-block;
  width: 80%;
  vertical-align: top;
  background-color: $soft-blue;
  border-left: 1px solid $soft-grey;
  min-height: 100rem;
  height: auto;
  font-size: 1rem; // have to reset font size because
                                 // of inline-block hack.
}

.general__left-tab-container {
  padding: 0;
  margin-top: 1em;
  @media #{$iphone-5s} {
    // TODO(daddy): This is a hack for now. We should figure out
    // how to display this shit on mobile...
    display: none;
  }
}

.general__button-tab {
  background-color: #C7D1FE;
  height: 2.2em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  color: $dark-blue;
  margin-top: 0.5em;
  border-radius: 3px;
  padding: 0 1.5em;
  &:hover {
    background-color: #E2E7FF;
    color: #76A8C3;
  }
}

.general__selected-button-tab {
  background-color: #EDC7FE;
  width: 90%;
  margin: 0 auto;
  color: $dark-blue;
  cursor: default;
  margin-top: 0.5em;
  &:hover {
    background-color: #EDC7FE;
    color: $dark-blue;
  }
}

.general__button-tab-text {
  font-family: main_font_bold;
  font-size: $general__button-tab-font-size;
  vertical-align: middle;
  display: inline-block;
}

.general__selected-button-tab-text {
  font-family: main_font_bold;
  font-size: $general__button-tab-font-size;
  vertical-align: middle;
}

.general__background {
  background-color: $left-tab-color;
  border-left: 1px solid $soft-grey;
  border-right: 1px solid $soft-grey;
  height: auto;
  width: 100%;
  display: inline-block;
}

.profile__done-picking-facebook-pics {
  padding: 0.5em $profile-input-heights;
  box-shadow: 0px 2px 4px 0px black;
  color: #EA80B0;
  background-color: white;
  font-family: main_font_regular;
  width: 12em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}

.profile__images-container {
  margin-top: 1em;
}

.profile__about-container {
  text-align: center;
  padding-bottom: 5em;
}

.profile__header-container {
  font-size: 1.5em;
  font-family: main_font_bold;
  color: #1A5E84;
  margin-top: .5em;
  text-align: center;
}


.profile__input-field {
}

.profile__input-label {
  padding: 0.5em 1em;
  background-color: #1A5E84;
  color: white;
  font-family: main_font_bold;
  width: 10em;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  margin-right: 0.5em;
  @media #{$iphone-5s} {
    width: 8em;
  }
}

.profile__asterisk {
  display: inline;
  color: white;
}

input.profile__input {
  width: 10em;
  height: $profile-input-heights;
  border-radius: 3px;
  display: inline-block;
}

select.profile__select {
  width: 6em;
  height: $profile-input-heights;
  border-radius: 3px;
  display: inline-block;
}

.profile__random-button-div {
  padding: 0.5em 1em;
  background-color: white;
  box-shadow: 0px 2px 4px 0px black;
  color: #EA80B0;
  font-family: main_font_regular;
  border-radius: 3px;
  cursor: pointer;
  width: 9.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.profile__random-button {
  margin: 0;
  margin-bottom: $profile-input-padding;
}


select.profile__select-date {
  height: $profile-input-heights;
  display: inline;
  width: 28%;
}

.profile__input-field-date {
  text-align: center;
  display: inline-block;
  width: 21em;
}
.profile__input-label-date {
  float: left;
  margin-left: $profile-input-padding;
  margin-bottom: $profile-input-padding;
}
.profile__date-container {
  clear: both;
}

input.profile__input-zip {
  @extend input.profile__input;
  width: 6em;
}

select.profile__select-ethnicity {
  @extend select.profile__select;
  width: 10em;
}

.profile__height-container {
  display: inline;
  margin-right: $profile-input-padding;
}

.profile__textarea-container {
  padding-left: $profile-input-padding;
  padding-right: $profile-input-padding;
}

select.profile__select-ivy {
  width: 4em;
  height: 3em;
  border-radius: 3px;
  margin-right: .5em;
}
