.user-info-form__sex {
	display: inline-block;
	background-color: blue;
	position: relative;
	height: 47px;
	left: 10px;
	bottom: 8px;
	border: 1px solid green;
}

.user-info-form__sex-select {
	display: inline;
	width: 10em;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	box-shadow: 0px 2px 4px 0;
	height: 45px;
}

.user-info-form__container {
	padding: 0 3em;
	padding-bottom: 2em;
	width: auto;
	text-align: center;

	@media #{$iphone-5s} {
	  width: auto;
	  padding: 0;
	}
}

.user-info-form__input-fields-container {
	display: inline-block;
	text-align: left;
	width: auto;
}
